@model pizzachef.Areas.Admin.Models.Feedback

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Feedback</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FeedbackID)

        <div class="form-group">
            @Html.LabelFor(model => model.FBContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FBContent)
                @Html.ValidationMessageFor(model => model.FBContent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatePost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatePost)
                @Html.ValidationMessageFor(model => model.DatePost)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
